* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

/* reusables */ 
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* component -> app */
.app {
  width: 100vw;
  height: 100vh;
}

.app .app__title {
  flex:0.05;
  height: 100vh;
  background-color: #4450a5;
  color: white;
}
.app .app__details {
  flex:0.95;
}
@media (max-width:900px) {
  
  .app__title {
    display: none;
  }
} 